/* RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* Now we know root font size is 10px, based off the browser default  */
    
}

/* ADD FONTS HERE AS FONTS ARE INHERITED */
body {
    box-sizing: border-box;   
}